 <div class="front-page-background">
  <%= render "top_nav" %>

    <div class="container">

  <%= render "top_carousel" %>
      <%= render "new_items_overview" %>
      
      <%= render "articles" %>
      
  </div><!--/.container-->
  <%= render "articles" %>

  <div class="container-fluid">
      <footer>
        <p>&copy; 2015 Company, Inc.</p>
      </footer>

    </div><!--/.container-->
</div>