
<div class="container">
  <%= form_for [:admin]+ objects, class: 'sort_pictures'   do |f| %>
   <%= f.hidden_field :id  %>
    <table class="table table-striped" >
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Text</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="sortable-pictures-block">
          <%= f.fields_for :pictures do |ff| %>
           <tr class="sortable-picture">
              <td><%= image_tag ff.object.image_file.thumb.url %></td>
              <%= ff.hidden_field :sort, class: 'order-input'  %>
              <td><%= ff.text_area :text, class: 'text summernote' %></td>
              <td> 
                <%= link_to "Delete", admin_picture_path(ff.object), method: :delete, data: { confirm: "Are you sure you want to delete this Picture: #{ff.object.text}?" }, class: "delete"  %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%= f.submit "Submit Picture Edits", class: "btn btn-primary" %>
  <% end %>
</div>

<% model_name = objects.last.class.to_s.underscore %>
<script id="tr-sort-picture" type="text/x-handlebars-template">
     <tr class="sortable-picture">
      <td>
        <img src="{{image_file.thumb.url}}" />
      </td>
      <input class="order-input" type="hidden" value="{{sort}}" name="<%= model_name %>[pictures_attributes][{{id}}][sort]" />
      <td>
        <input label="false" type="text" value="" name="<%= model_name %>[pictures_attributes][{{id}}][text]" class="summernote"/>
      </td>
      <td> 
      <a data-confirm="Are you sure you want to delete this Picture: ?" class="delete" rel="nofollow" data-method="delete" href="/admin/pictures/{{id}}">Delete</a>
      </td>
    </tr>
    <input type="hidden" value="{{id}}" name="<%= model_name %>[pictures_attributes][{{id}}][id]" class="ui-sortable-handle">
</script>