
<h1 class="page-header">Most Recent Articles</h1>

<div class="row placeholders">
  <% @articles.each do |article| %>
    <div class="col-xs-6 col-sm-3 placeholder">
      <div class="image-clip">
        <%= image_tag article.main_picture.url %>
      </div>
      <h4><%= article.title %></h4>
      <span class="text-muted">
        <%= link_to "Edit", edit_admin_article_path(article) %>
      </span>
    </div>
  <% end %>
</div>

<h2 class="sub-header">Categories</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Discription</th>
        <th>Pictures</th>
        <th>Number of Articles</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td>
          <%category.pictures.each do |picture| %>
            <%= image_tag(picture.url)
          <% end %> 
        </td>
        <td><%= category.articles.size %></td>
        <td>
          <%= link_to "Edit",edit_admin_category_path(category) %>  
          <%= link_to 'Destroy', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
